<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	      xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
          http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	      version="3.1">
	      
  <display-name>donnareggina</display-name>
  
  <welcome-file-list>
  
  	<welcome-file>faces/index.xhtml</welcome-file>
  	
  </welcome-file-list>
  
  
   <context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
   </context-param>
   
   	<context-param>
    	<param-name>org.apache.myfaces.CACHE_EL_EXPRESSIONS</param-name>
    	<param-value>alwaysRecompile</param-value>
    </context-param>

	<!-- reduce saved view states -->
	<context-param>
	    <param-name>org.apache.myfaces.NUMBER_OF_VIEWS_IN_SESSION</param-name>
	    <param-value>15</param-value>
	</context-param>
	<context-param>
	    <param-name>org.apache.myfaces.NUMBER_OF_SEQUENTIAL_VIEWS_IN_SESSION</param-name>
	    <param-value>3</param-value>
	</context-param>
	
	<!-- Disable ViewState compression (better performance but more memory usage) -->
	<context-param>
	    <param-name>org.apache.myfaces.COMPRESS_STATE_IN_SESSION</param-name>
	    <param-value>false</param-value>
	</context-param>
	
	<context-param>
	    <param-name>org.apache.myfaces.CHECK_ID_PRODUCTION_MODE</param-name>
	    <param-value>false</param-value>
	</context-param>
	
	<!-- Flush the response directly after the head to allow start loading resources on the browser side -->
	<context-param>
	    <param-name>org.apache.myfaces.EARLY_FLUSH_ENABLED</param-name>
	    <param-value>true</param-value>
	</context-param>
	
	<context-param>
	    <param-name>org.apache.myfaces.PRETTY_HTML</param-name>
	    <param-value>false</param-value>
	</context-param>
	
	
	<!-- NOTE: the ExpressionFactory might differ e.g. on Glassfish or Wildfly.
	     This parameter is optional since MyFaces 2.3.3. -->
	<context-param>
	    <param-name>org.apache.myfaces.EXPRESSION_FACTORY</param-name>
	    <param-value>org.apache.el.ExpressionFactoryImpl</param-value>
	</context-param>
	
	<!-- Increase cache -->
	<context-param>
	    <param-name>org.apache.myfaces.VIEW_UNIQUE_IDS_CACHE_ENABLED</param-name>
	    <param-value>true</param-value>
	</context-param>
	<context-param>
	    <param-name>org.apache.myfaces.COMPONENT_UNIQUE_IDS_CACHE_SIZE</param-name>
	    <param-value>500</param-value>
	</context-param>
   
    
	
    <context-param>
    	<param-name>com.sun.faces.compressViewState</param-name>
    	<param-value>false</param-value>
	</context-param>
   
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>/faces/*</url-pattern>
	</servlet-mapping>
	
	
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	

</web-app>

